<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>902843314105-a63rpmfurfmr0flonl8khuu312knhfgi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.902843314105-a63rpmfurfmr0flonl8khuu312knhfgi</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>902843314105-2n6jjh3b73fnfpjoivkksf6nc1n4p4na.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDMvmrOC0RiZuRV_7QaVQu9huhaB3989jM</string>
	<key>GCM_SENDER_ID</key>
	<string>902843314105</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.day4.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>gb-dfc-4</string>
	<key>STORAGE_BUCKET</key>
	<string>gb-dfc-4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:902843314105:ios:e54e8bbe14e9b0edf09068</string>
</dict>
</plist>